body {
  background-color: lightgrey;
  background-image: url(https://img.favpng.com/25/16/11/pizza-background-png-favpng-hmgJuAXzx00F7V4cmM7WaCtKh.jpg);

  background-image: url("bgdesert.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;

  /* background-image: url("zinc.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left; */


  color: black;
  font-size: 1.75em;
  font-family: Lato, sans-serif;
  text-decoration: bold;
  maring: 40px;
}

a {
  text-decoration: underline;
  color: black;
}

p {
  text-decoration: bold;
  color: red;
}

ul {
  list-style: none;
  color: black;
  text-align: auto;
}

h1 {
  font-family: "Helvetica";
  font-size: 1.7em;
    color: red;
    text-align: left;
}

nav {
  text-decoration: bold;
  color: red;
  size: 20px;
}
